nav {
    /* margin: 0;
    padding: 0; */
    text-align: left;
    /* background: rgb(6,4,36);
    background: linear-gradient(90deg, rgba(6,4,36,0.5718662464985995) 0%, rgba(58,121,9,0.7987570028011204) 17%, rgba(118,210,228,0.700717787114846) 100%); */
    /* background: rgb(76,200,22);
    background: linear-gradient(6deg, rgba(76,200,22,0.5718662464985995) 0%, rgba(26,121,9,0.7231267507002801) 55%); */
    
  }

  .side-button {
    color: cadetblue;
    font-family: 'Bowlby One SC', cursive;
    background-color: antiquewhite;
    width: fit-content;
    box-shadow: lawngreen;
    padding: 7px;
    border-radius: 8%;
    text-decoration: none;
    margin-bottom: 5px;
  }

  /* header{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    text-transform: uppercase;
} */



@keyframes glow{
  90% {
    text-shadow: 0 0 20px rgb(129, 219, 200);
  }
  
  95% {
    text-shadow: 0 0 20px rgb(129, 219, 200);
  }
  100% {text-shadow: 0;}
}


@keyframes littleScroll{
  0%   {top:90%; opacity:0; }
  50% {top:65%;}
  100%   {top:60%; opacity:1;}
}

.text-in-overlay{
  font-size:19px;
}

header{
  font-size:40px;
    height:60px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    font-family: 'Hind Madurai', sans-serif;
  /* background: rgb(76,200,22);
    background: linear-gradient(6deg, rgba(76,200,22,0.5718662464985995) 0%, rgba(26,121,9,0.7231267507002801) 55%); */
    background: rgb(105,122,102);
background: linear-gradient(6deg, rgba(105,122,102,1) 9%, rgba(105,122,102,0.8211659663865546) 59%, rgba(184,198,182,0.8211659663865546) 92%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 50px */
}

.logo{
    color: #fff;
    margin-left: 50px;
    font-size: 1.5em;
    cursor: pointer;
    margin-top:17px;
    transition: color .4s ease-in-out
}

.logo:hover {
    color: orange
}

nav > ul{
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    padding: 10px 5px;
}

ul > li > a {
    color: #fff;
    font-size: .65em;
    font-weight: 200;
    text-decoration: none;
    transition: all .5s ease;
}

ul > li > a:hover {
    color: lightgray;
}

.profile-logo {
  padding: 0px 13px;
  background-color: rgba(159, 191, 139, 0.48);
  color: #fff;
  margin-right: 43px;
  border-radius: 30px;
  transition: all .5s ease;
  cursor: pointer;
}

.profile-logo a {
    color: #fff;
    text-decoration: none;
    font-size: .9em;
    font-weight: 600;
}

.profile-logo:hover {
    background-color: rgba(57, 58, 83, 0.8);
    box-shadow: 0 0 5px 1px #fff
}

  /* scroll-bar design
  ::-webkit-scrollbar {
    width: 50px;
    height: 50px;
    }
    
    // Track
    ::-webkit-scrollbar-track {
    // background:url("runway.png"); and to change the scroll to airplane on runway :) 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    }
    
    ::-webkit-scrollbar-thumb {
    background-image: url("../../public/img/control-tower-scroll.png");
    background-repeat: no-repeat;
    }
    
    ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
    } */
  
  .top-spotits {
    text-align:center;
  }
  
  .feed {
    text-align:center;
  }
  

  ul {
    list-style-type: none;
    padding: 0px;
  }
  
  li {
      padding:5px;
  }
  
  .inner-of-image-li {
    padding: 0px;
  }
  .title {
    margin-left: 150px;;
    margin-right: 150px;

    background-color: rgb(182, 200, 194);
    color:rgb(35, 39, 42);
    transition: 1s;

    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .clickable-title {
    margin-bottom: 0px;
    margin-top: 80px;

  }

  .clickable-title:hover {
      background-color: azure;
      cursor: pointer;
      transform: scale(0.95) rotate(5deg);
  }
  
  .go-spotit {
    text-align:center;
  }

  .logout {
    cursor:pointer;
    font-size:0.35em;
    margin-right:20px
  }

  .followers-following {
    cursor: pointer;
  }
  

  .logout:hover {
    color:gray;
    box-shadow: bisque;
  }

/* imageWRAPPER!*/
  .image-wrapper {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display:block;
    margin-bottom:15px;
    position: relative;
  }


  /*  */
  .hoverable-image-container {
    position: relative;
    width: 100%;
    height:100%;
  }
  
  .hoverable-image {
    /* display: block; */
    height:100%;
    width:100%;
    /* max-width:500px; */
    /* object-fit:cover; */
  }
  
  .hoverable-overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .hoverable-image-container:hover .hoverable-overlay {
    opacity: 1;
  }
    /*  */
  

  .image-wrapper:hover {
    box-shadow: 0 30px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .like{
    top:0;
    position: absolute;
    right:2px;
    margin:auto;
    padding:5px;
    font-size: 2em;
    display:none;
    cursor: pointer;
    color:azure;
  }

  .like:hover {
    color:rgb(79, 216, 216);

  }

  .liked {
    top:0;
    position: absolute;
    right:2px;
    margin:auto;
    padding:5px;
    font-size: 2em;
    display:none;
    color:rgba(9, 47, 218, 0.986);
  }

  .like-count {
    top:0;
    position: absolute;
    right:42px;
    margin-right:2px;
    font-size: 2em;
    color: lightpink;
    font-family: cursive;
    display:none;
  }

  .image-wrapper:hover .liked {
    display:block;
   }

   
   .image-wrapper:hover .like{
    display:block;
   }

   .image-wrapper:hover .like-count{
    display:block;
   }


/*IMAGE WRAPPER END*/
  
  @import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

  h1 {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
  }

  .feed > h1 {
    text-align:center;
  }

  .image-wrapper > img {
      width:100%;
  }

  .img-grade {
    position: absolute;
    width: fit-content;
    bottom: 5px;
    font-size: 2em;
  }
  
  .image-wrapper > h2 {
      top:0;
      position: absolute;
      width: fit-content;
      text-align: left;
      margin:auto;
      padding:5px;
      font-family: impact, sans-serif;
      font-size: 2em;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      text-shadow:
          2px 2px 0 #000,
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px 2px 0 #000,
          0 2px 0 #000,
          2px 0 0 #000,
          0 -2px 0 #000,
          -2px 0 0 #000,
          2px 2px 5px #000;
  }

        .scroll-container {
            overflow: hidden;
            max-height: 400px;
       }

       .scorll-ul{
        animation: scroll 50s infinite linear;
        width: fit-content;
        align-content: center;
        margin: auto;
       }

       .scorll-ul:hover{
        animation-play-state:paused;
       }

       @keyframes scroll{
           0%   {transform:translateY(0%); }
           100%   {transform:translateY(-100%); }
       }
  
  .container {
    max-width: 120rem;
    /*margin: 4vw auto;*/
    background-color: rgba(241, 231, 231, 0.322);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
    display: grid;
    /*grid-template-rows: 10rem minmax(100rem, auto); no need because we have only 3 cols (no rows)*/
    grid-template-columns: auto auto auto;
    grid-template-areas: "top-spotits feed go-spotit"; 
    grid-auto-columns: 100px;
  }

  header-main-image {
    position: relative;
    text-align: center;
  }

  .header-main-image-text {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 40px white, 0 0 30px white;
    animation: littleScroll 2s ease-out, glow 2s linear;
    transition: 1s;
    
  }

  .header-main-image-text:hover {
    transform-origin: center;
    transition: 1s;
    text-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 40px white, 0 0 40px white, 0 0 40px white, 0 0 40px white;

  }

  @keyframes glow{
    0% {
      text-shadow: 0 0 20px rgb(129, 219, 200);
    }

    100% {text-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 40px white, 0 0 40px white, 0 0 40px white, 0 0 40px white;}
  }


  @keyframes littleScroll{
    0%   {top:90%; opacity:0; }
    50% {opacity: 0.2;}
    100%   {top:43%; opacity:1;}
}

  
  
  /*MODALLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL*/
  .modal {
    font-size:12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    max-height:500px;
    overflow-y: scroll;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  /*MODAL*/

  .top-spotit-user {
    background-image:linear-gradient(to right, rgba(187, 234, 236, 0.342), rgba(11, 187, 231, 0.486), rgba(187, 234, 236, 0.342));
    /* background-image:linear-gradient(to right, rgb(11, 187, 231), rgba(187, 234, 236, 0.342)); */
    display: inline-block;
    width: 334px;
    border-radius: 15%;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;

  }

  /*form form form form form form form form*/
  .form {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 40px;
    max-width: 320px;
  }
  .form fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .form fieldset + fieldset {
    margin-top: 24px;
  }
  .form label {
    margin-bottom: 8px;
    display: block;
    color: #2b2e4a;
  }
  .form input:not([type=checkbox]):not([type=radio]), select, textarea {
    padding: 8px;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #bdc3c7;
    border-left: 0;
    transition: border-bottom-color 0.15s ease-in;
  }
  .form input:not([type=checkbox]):not([type=radio]):focus, select:focus, textarea:focus {
    outline: 0;
    border-bottom-color: #3fc1c9;
  }
  .form input[type=checkbox], input[type=radio] {
    margin-right: 8px;
  }
  .form textarea {
    resize: vertical;
  }
  .form .button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #3fc1c9;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
  }
  .form button:focus:active {
    background-color: #31a7ae;
  }
  .form button:focus {
    outline: 0;
  }
  .form button:hover {
    background-color: #7bd4da;
  }
  /*form form form form formformform form*/
  